<form asp-action="Index">
<label>Fullname:</label>
<input type="text" name="fName" placeholder="Nhap ten">
 <input type="email" name="ABC" placeholder="Enter Email" />
<button type="submit">Save</button>
</form>

<h1>@ViewBag.thongbao</h1>