
<div class="w3-container">
 
    <div class="w3-card-4">
      <div class="w3-container w3-green">
        <h2>Employee Form</h2>
      </div>
      <form asp-action="Index" class="w3-container">
      <h2>Enter Data</h2>
       <hr>
        <label>Full Name</label></p>
        <input class="w3-input w3-border w3-round" name="fname" type="text" placeholder="Enter fullname"></p>   
        <label>Email</label></p>
        <input class="w3-input w3-border w3-round" name="email" type="Email" placeholder="Enter email"></p>
        <input type="submit" value="Save"/>
      </form>
    </div>
  </div>
  <h1>@ViewBag.Nhandulieu</h1>