
<form asp-action="Index" class="w3-container">
    <h2>Nhap Thong Tin</h2>
      <label>Full Name</label></p>
      <input class="w3-input w3-border w3-round" name="fname" type="text" placeholder="Enter Fullname"></p>   
      <label>PersonID</label></p>
      <input class="w3-input w3-border w3-round" name="ID" type="text" placeholder="Enter PersonID"></p>
      <label>Address</label></p>
      <input class="w3-input w3-border w3-round" name="Address" type="text" placeholder="Enter Address"></p>
      <input type="submit" value="Sign in"/>
    </form>
  </div>
</div>
<h1>@ViewBag.Nhapthongtin</h1>