<form asp-action="Index">
    <label>Nhap thong tin</label>
    <input type="Text" name="FullName" placeholder="Enter fullname"/>
    <input type="Text" name="StudentID" placeholder="Enter ID"/>
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.Nhandulieu</h1>